---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14ICU74ScHo4kCbcXtM2962S&plan=regular&email=alice%40gmail.com
    headers:
      Authorization:
      - Bearer sk_test_4Nri8Z1od28KWtddi5FtBKkn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is incorrect.",
            "type": "card_error",
            "param": "cvc",
            "code": "incorrect_cvc"
          }
        }
  recorded_at: Sun, 20 Jul 2014 05:03:47 GMT
recorded_with: VCR 2.9.2
