---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14ICUB4ScHo4kCbcmUCVcjCg&plan=regular&email=alice%40gmail.com
    headers:
      Authorization:
      - Bearer sk_test_4Nri8Z1od28KWtddi5FtBKkn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1405832628,
          "id": "cus_4R4dLN1d0Pws09",
          "livemode": false,
          "description": null,
          "email": "alice@gmail.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4R4dLN1d0Pws09/subscriptions",
            "data": [
              {
                "id": "sub_4R4ddxfazPsWLZ",
                "plan": {
                  "interval": "month",
                  "name": "Regular Subscription",
                  "created": 1405481985,
                  "amount": 2000,
                  "currency": "usd",
                  "id": "regular",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1405832628,
                "status": "active",
                "customer": "cus_4R4dLN1d0Pws09",
                "cancel_at_period_end": false,
                "current_period_start": 1405832628,
                "current_period_end": 1408511028,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4R4dLN1d0Pws09/cards",
            "data": [
              {
                "id": "card_14ICUB4ScHo4kCbcGraScik7",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 10,
                "exp_year": 2015,
                "fingerprint": "Bs16CEwyEEcJyayY",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4R4dLN1d0Pws09"
              }
            ]
          },
          "default_card": "card_14ICUB4ScHo4kCbcGraScik7"
        }
  recorded_at: Sun, 20 Jul 2014 05:03:50 GMT
recorded_with: VCR 2.9.2
