---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=7&card[exp_year]=2020&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_4Nri8Z1od28KWtddi5FtBKkn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14ICKj4ScHo4kCbcLKTa9jF2",
          "livemode": false,
          "created": 1405832041,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14ICKi4ScHo4kCbcZbkAtc0M",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2020,
            "fingerprint": "CL1zKIOhxdCKiJrM",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Sun, 20 Jul 2014 04:54:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14ICKj4ScHo4kCbcLKTa9jF2&plan=regular&email=test%40test.com
    headers:
      Authorization:
      - Bearer sk_test_4Nri8Z1od28KWtddi5FtBKkn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Sun, 20 Jul 2014 04:54:04 GMT
recorded_with: VCR 2.9.2
