---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14MEuN4ScHo4kCbcc92QG9LP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4Nri8Z1od28KWtddi5FtBKkn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14MEuN4ScHo4kCbcc92QG9LP",
          "created": 1406795251,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14MEuN4ScHo4kCbcDZif0uGA",
              "object": "charge",
              "created": 1406795251,
              "livemode": false,
              "paid": true,
              "amount": 2000,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14MEuM4ScHo4kCbcnyaQC18B",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2015,
                "fingerprint": "Bs16CEwyEEcJyayY",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4VFPZkwHhhAU0o"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14MEuN4ScHo4kCbcDZif0uGA/refunds",
                "data": []
              },
              "balance_transaction": "txn_14MEuN4ScHo4kCbc0yb6gS4J",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4VFPZkwHhhAU0o",
              "invoice": "in_14MEuN4ScHo4kCbc0aOFhRUp",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4VFPUnASWamtP8"
        }
  recorded_at: Thu, 31 Jul 2014 10:48:46 GMT
recorded_with: VCR 2.9.2
