%section.reset_password.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag reset_password_path, method: 'patch' do
        %header
          %h1 Reset Your Password
        %fieldset.form-group
          %label New Password
          .row
            .col-sm-4
              %input{type: "hidden", name: "token", value: "#{@token}"}/
              %input.form-control(type="password" name="new_password")
        %fieldset.form-group.action
          %input(type="submit" value="Reset Password" class="btn btn-default")