---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2020&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_4Nri8Z1od28KWtddi5FtBKkn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14MFJI4ScHo4kCbcTjuDnl3V",
          "livemode": false,
          "created": 1406796796,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14MFJI4ScHo4kCbcHs8tTuIl",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2020,
            "fingerprint": "Bs16CEwyEEcJyayY",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 31 Jul 2014 08:53:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14MFJI4ScHo4kCbcTjuDnl3V&plan=regular&email=test%40test.com
    headers:
      Authorization:
      - Bearer sk_test_4Nri8Z1od28KWtddi5FtBKkn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1406796797,
          "id": "cus_4VFoa7625qv2JW",
          "livemode": false,
          "description": null,
          "email": "test@test.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4VFoa7625qv2JW/subscriptions",
            "data": [
              {
                "id": "sub_4VFo3NH5mLfwwc",
                "plan": {
                  "interval": "month",
                  "name": "Regular Subscription",
                  "created": 1405481985,
                  "amount": 2000,
                  "currency": "usd",
                  "id": "regular",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1406796797,
                "status": "active",
                "customer": "cus_4VFoa7625qv2JW",
                "cancel_at_period_end": false,
                "current_period_start": 1406796797,
                "current_period_end": 1409475197,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4VFoa7625qv2JW/cards",
            "data": [
              {
                "id": "card_14MFJI4ScHo4kCbcHs8tTuIl",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2020,
                "fingerprint": "Bs16CEwyEEcJyayY",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4VFoa7625qv2JW"
              }
            ]
          },
          "default_card": "card_14MFJI4ScHo4kCbcHs8tTuIl"
        }
  recorded_at: Thu, 31 Jul 2014 08:53:18 GMT
recorded_with: VCR 2.9.2
